In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('/content/drive/MyDrive/ecommerce/2019-Oct.parquet')

In [4]:
df = df[['product_id', 'category_code', 'brand', 'price']]

In [7]:
df.head()

   product_id                        category_code     brand    price
0    44600062                                 None  shiseido    35.79
1     3900821  appliances.environment.water_heater      aqua    33.20
2    17200506           furniture.living_room.sofa      None   543.10
3     1307067                   computers.notebook    lenovo   251.74
4     1004237               electronics.smartphone     apple  1081.98

In [6]:
# df.to_parquet('2019-Oct-product.parquet')

In [ ]:
def product_data(fpath):
  df = pd.read_parquet(fpath)
  product_information = df[['product_id', 'category_code', 'brand', 'price']]

  return product_information