In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_parquet('/content/drive/MyDrive/ecommerce/2019-Oct-rating.parquet')

In [ ]:
# df1 = pd.read_parquet('/content/drive/MyDrive/ecommerce/2019-Oct-plus.parquet')

In [ ]:
# df1['cart'] = np.where(df1['event_type'] == 'cart', 1, 0)
# df1['view'] = np.where(df1['event_type'] == 'view', 1, 0)

# df2 = df1.drop(['event_time', 'user_session','day', 'hour', 'minute', 'seconds'], axis = 1)

# bins = list(range(0, 2700, 300))

# bins_label = [x / 300 for x in bins]
# df2['price_label'] = pd.cut(df2['price'], bins, right = False, labels = bins_label[: -1])

In [ ]:
df['price_label'].unique()

array([0., 2., 1., 3., 4., 6., 7., 5., 8.])

In [ ]:
df['price_label'].isnull().sum()

0

In [ ]:
df_pl0 = df[df['price_label'] == 0]
df_pl1 = df[df['price_label'] == 1]
df_pl2 = df[df['price_label'] == 2]
df_pl3 = df[df['price_label'] == 3]
df_pl4 = df[df['price_label'] == 4]
df_pl5 = df[df['price_label'] == 5]
df_pl6 = df[df['price_label'] == 6]
df_pl7 = df[df['price_label'] == 7]
df_pl8 = df[df['price_label'] == 8]

In [ ]:
round(df_pl0[df_pl0['event_type'] == 'purchase'].shape[0] / df_pl0.shape[0], 4)

0.0173

In [ ]:
round(df_pl1[df_pl1['event_type'] == 'purchase'].shape[0] / df_pl1.shape[0], 4)

0.0169

In [ ]:
round(df_pl2[df_pl2['event_type'] == 'purchase'].shape[0] / df_pl2.shape[0], 4)

0.0179

In [ ]:
round(df_pl3[df_pl3['event_type'] == 'purchase'].shape[0] / df_pl3.shape[0], 4)

0.0234

In [ ]:
round(df_pl4[df_pl4['event_type'] == 'purchase'].shape[0] / df_pl4.shape[0], 4)

0.0204

In [ ]:
round(df_pl5[df_pl5['event_type'] == 'purchase'].shape[0] / df_pl5.shape[0], 4)

0.0223

In [ ]:
round(df_pl6[df_pl6['event_type'] == 'purchase'].shape[0] / df_pl6.shape[0], 4)

0.0076

In [ ]:
round(df_pl7[df_pl7['event_type'] == 'purchase'].shape[0] / df_pl7.shape[0], 4)

0.0037

In [ ]:
round(df_pl8[df_pl8['event_type'] == 'purchase'].shape[0] / df_pl8.shape[0], 4)

0.0025

In [ ]:
df['price_label'] = df['price_label'].replace(0, 0.74)
df['price_label'] = df['price_label'].replace(1, 0.72)
df['price_label'] = df['price_label'].replace(2, 0.77)
df['price_label'] = df['price_label'].replace(3, 1.00)
df['price_label'] = df['price_label'].replace(4, 0.87)
df['price_label'] = df['price_label'].replace(5, 0.95)
df['price_label'] = df['price_label'].replace(6, 0.32)
df['price_label'] = df['price_label'].replace(7, 0.16)
df['price_label'] = df['price_label'].replace(8, 0.11)

In [ ]:
# df['price_label'] = df['price_label'].replace(0, 0.74)
# df['price_label'] = df['price_label'].replace(1, 0.72)
# df['price_label'] = df['price_label'].replace(2, 0.77)
# df['price_label'] = df['price_label'].replace(3, 1.00)
# df['price_label'] = df['price_label'].replace(4, 0.87)
# df['price_label'] = df['price_label'].replace(5, 0.95)
# df['price_label'] = df['price_label'].replace(6, 0.32)
# df['price_label'] = df['price_label'].replace(7, 0.16)
# df['price_label'] = df['price_label'].replace(8, 0.11)

In [ ]:
df['price_label'].unique()

array([0.74, 0.77, 0.72, 1.  , 0.87, 0.32, 0.16, 0.95, 0.11])

In [ ]:
df['price_label'].isnull().sum()

0

In [ ]:
df['event_type'] = df['event_type'].replace('view', 0.1)
df['event_type'] = df['event_type'].replace('cart', 0.7)
df['event_type'] = df['event_type'].replace('purchase', 1)

In [ ]:
df['event_type'].unique()

/usr/local/lib/python3.7/dist-packages/pandas/io/formats/format.py:1429: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())

[0.1, 0.7, 1.0]
Categories (3, float64): [0.7, 1.0, 0.1]

In [ ]:
df['event_type'].isnull().sum()

0

In [ ]:
df.head()

  event_type  product_id    user_id  price_label  rating_value
0        0.1     1200947  555774146         0.74      0.163174
1        0.7     1200947  555774146         0.74      0.163174
2        1.0     1200947  555774146         0.74      0.163174
3        0.1     1200947  555766886         0.74      0.163174
4        0.1     1200947  555766886         0.74      0.163174

In [ ]:
df['event'] = pd.to_numeric(df['event_type'])

In [ ]:
df.dtypes

event_type      category
product_id         int64
user_id            int64
price_label      float64
rating_value     float64
event            float64
dtype: object

In [ ]:
df['rating'] = df['price_label'] * df['rating_value'] * df['event']

In [ ]:
df.dtypes

event_type      category
product_id         int64
user_id            int64
price_label      float64
rating_value     float64
event            float64
rating           float64
dtype: object

In [ ]:
df.isnull().sum()

event_type      0
product_id      0
user_id         0
price_label     0
rating_value    0
event           0
rating          0
dtype: int64

In [ ]:
print(df['rating'].min())
print(df['rating'].max())

0.0011
0.40700000000000003

In [ ]:
df1 = df.drop(['event_type', 'price_label', 'rating_value', 'event'], axis = 1)

In [ ]:
df1

          product_id    user_id    rating
0            1200947  555774146  0.012075
1            1200947  555774146  0.084524
2            1200947  555774146  0.120749
3            1200947  555766886  0.012075
4            1200947  555766886  0.012075
...              ...        ...       ...
41202558    26020645  513476337  0.007400
41202559    26020645  513476337  0.007400
41202560    26020645  513476337  0.007400
41202561    24400252  522379328  0.007400
41202562    13105445  514339370  0.007200

[41202563 rows x 3 columns]

In [ ]:
# df1.to_parquet('2019-Oct-EDA.parquet')

In [ ]:
df1.nunique()

product_id     166084
user_id       2962411
rating          40732
dtype: int64

In [ ]:
df2 = df1.round(3)

In [ ]:
df2

          product_id    user_id  rating
0            1200947  555774146   0.012
1            1200947  555774146   0.085
2            1200947  555774146   0.121
3            1200947  555766886   0.012
4            1200947  555766886   0.012
...              ...        ...     ...
41202558    26020645  513476337   0.007
41202559    26020645  513476337   0.007
41202560    26020645  513476337   0.007
41202561    24400252  522379328   0.007
41202562    13105445  514339370   0.007

[41202563 rows x 3 columns]

In [ ]:
df2['rating'].max()

0.407

In [ ]:
df2['rating'].min()

0.001

In [ ]:
df2.to_parquet('2019-Oct-EDA-plus.parquet')

In [ ]:
df2.dtypes

product_id      int64
user_id         int64
rating        float64
dtype: object